@import url("../..//assets/Supermarket/stylesheet.css");
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Aug-2015, 00:22:48
    Author     : Tanawat
*/

/* start promotions_page */
#all_promotions
{
    background: url('../images/food-vacation-boats-lunch.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: 'supermarketregular';
    margin-top: 70px;
    height: 200px;    
}
#all_promotions text-center
{
    text-align: center;
}
#all_promotions h1
{
    font-size: 65pt;
    margin-top: 35px;
}
#all_promotions h2
{
    padding-bottom: 10px;
}
#all_promotions h3
{
    margin-bottom: 0px;
}
#all_promotions p
{
    margin-top: 0px;
}
#all_promotions address
{
    padding-top: 20px;
}
#all_promotions address .fa
{
    background: #28a7e9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 6px;
    margin-right: 10px;
}
#all_promotions .contact-form
{
    padding-top: 40px;
}
#all_promotions .form-control
{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'supermarketregular';
}
#all_promotions input
{
    font-family: 'supermarketregular';
    height: 50px;
}
#all_promotions select
{
    height: 50px;
}
#all_promotions input[type="submit"]
{
    background: #28a7e9;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}
#all_promotions input[type="submit"]:hover {
    background: #107DB6;
}
#all_promotions .overlay 
{
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}  
#all_promotions .container
{
    padding-bottom: 50px;
} 
/* end search_page */


/* start search_page_body */
#all_promotions_body
{
    font-family: 'supermarketregular';
}
#all_promotions_body .outcontainner
{
    margin: 5px 50px 5px 50px;
    padding: 10px 15px 5px 15px;
}
#all_promotions_body p
{
    margin-bottom: 10px;
}
#all_promotions_body .form-control
{
    border-color: #ccc;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'supermarketregular';
    margin-bottom: 10px;
}
#all_promotions_body input[type="checkbox"]
{
    font-family: 'supermarketregular';
    margin: 10px 0 5px 0;
}
#all_promotions_body select
{
    height: 50px;
}
#all_promotions_body .ingroup
{
    height: 50px;
}
#all_promotions_body input[type="submit"]
{
    background: #28a7e9;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}
#all_promotions_body input[type="submit"]:hover {
    background: #107DB6;
}
/* end search_page_body */