.Form-label--tick{
    display:block
}
.Form-label--tick {
    position: relative;
    display: inline-block;
    margin-left: 1em;
}
.Form-label-radio,.Form-label-checkbox{
    position:absolute;
    z-index:-1;
    width:1px;
    height:1px;
    opacity:0;
    overflow:hidden
}
.Form-label-radio+.Form-label-text,.Form-label-checkbox+.Form-label-text{
    cursor:pointer;
}
.Form-label-radio+.Form-label-text::before, .Form-label-checkbox+.Form-label-text::before {
    font-size: .875em;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin-right: .25em;
    content: "\00a0";
    color: white;
    background-clip: padding-box;
    background-color: white;
    text-align: center;
    font-size: 16;
}
.Form-label-radio+.Form-label-text:hover::before,.Form-label-checkbox+.Form-label-text:hover::before{
    border-color:#ff9900 !important;
    box-shadow:0 0 0 0 black !important
}
.Form-label-radio:checked+.Form-label-text::before,.Form-label-checkbox:checked+.Form-label-text::before{
    background-color:#ff9900;
    border-color:#ff9900;
    box-shadow:0 0 0 0 #ff9900;
    font-family:FontAwesome;
    content:"\f00c"
}
.Form-label-radio:focus+.Form-label-text::before,.Form-label-checkbox:focus+.Form-label-text::before,.Form-label-radio:active+.Form-label-text::before,.Form-label-checkbox:active+.Form-label-text::before{
    border-color:#ff9900;
    box-shadow:0 0 2px 0 rgba(0,135,212,0.2)
}
.Form-label-radio+.Form-label-text::before{
    border-radius:100%
}