@import url("../Supermarket/stylesheet.css");

#map{
    height:400px;
    margin:0 auto;
    border-radius: 5px;
    margin-top:10px;
}
.address{
    background: #ff8100;
    color:white;
    font-weight: 400;
    padding:10px;
    border-radius: 5px;
    margin-top:10px;
    font-size:20px;
    line-height: 40px;
    height:57px;
}
#addresstxt{
    font-size:20px;
    height:45px;
}

#addresstype, #oldaddress, #delivery_time{
    font-size:20px;
    height:45px;
}
#getlocation button{
    margin:0;
}

#addressoverlay{
    background-color:rgba(255,255,255,0.2);
    width:100%;
    height:580px;
    position: absolute;
    top:160px;
    left:0;
    z-index:10;
}

#addaddressbtn, #oldaddressbtn{
    height:45px;
    font-size:20px;
    width:100%;
}

.foodboxselect, .riceselect{
    float:left;
    padding:20px;
    margin-left:35px;
    width:150px;
    height:150px;
    text-align:center;
    margin:2px;
    cursor:pointer;
    padding-bottom:30px;
    border-radius: 5px;
}
.foodboxselect.selected ,.riceselect.selected{
    background:#ff8100;
}
.datepick-month-year, .datepick-nav, .datepick-month a, .datepick-month span {
    font-family: 'supermarketregular';
    font-size:30px;
}
.is-datepick{
    font-family: 'supermarketregular';
    font-size:30px !important;
}


#fast_head
{
    background: url('../images/restaurant-people-feet-legs.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: 'supermarketregular';
    margin-top: 70px;
    height: 200px; 
}
#fast_head h1
{
    font-size: 55pt;
    margin-top: 35px;
}
#fast_order .headprofile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

#fast_order .fb-image-profile
{
    margin: -90px 45px 0px 80px;
    z-index: 9;
    width: 13%;
    border-radius:50%;
}

@media (max-width:768px)
{
    
#fast_order .fb-profile-text>h1{
    font-weight: 700;
    font-size:14px;
}

#fast_order .fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 13%;
	border-radius:50%; 
}
}

/* modal edit profile*/
#fast_order address
{
    padding-top: 20px;
}
#fast_order address .fa
{
    background: #28a7e9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 6px;
    margin-right: 10px;
}
#fast_order .contact-form
{
    padding-top: 40px;
}
#fast_order input[type="submit"]
{
    background: #28a7e9;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}
#fast_order input[type="submit"]:hover {
    background: #107DB6;
}

#fast_order .container_status
{
    background-color:rgba(255,246,143,0.4);
    padding: 10px 10px 10px 300px;
}
#fast_order .container_field
{
    background-color:rgba(255,246,143,0.4);
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
}
#fast_order input[type="checkbox"] {
    font-family: 'supermarketregular';
    margin: 10px 0 5px 0;
    padding: 0px;
    height: 13px;
}

#fast_order {
    font-family: 'supermarketregular';
    padding-top: 20px;
    margin-bottom: 30px;
}

#fast_order .hrs {
    border-top-width: 2px;
    border-color: #FF5F00;
    margin-top: 0px;
    margin-bottom: 20px;
}

#fast_order .content2{
    margin-left: 100px;
    width: 80%;
    
}

.wizard {
    /* margin: 20px auto; */
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 10px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 85%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 16.25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 55%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 0 20px 20px 60px;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

#fast_order .container_field
{
    background-color:rgba(255,246,143,0.4);
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
}

#fast_order .card{
    font-family: 'supermarketregular';
    margin-top: 10px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#fast_order .card .card-content {
    padding: 10px;
}
#fast_order .card .card-content .page-header {
    font-size: 30px;
    margin-top: 10px;
}

//#fast_order .tab-pane{
//    display: block;
//}

//เอา 3 บรรทัดล่างสุดออกมันจะกลับเป็นแท็บเหมือนเดิม