@import url("../..//assets/Supermarket/stylesheet.css");
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Aug-2015, 00:22:48
    Author     : Tanawat
*/

/* start search_page */
#search_page
{
    background: url('../images/food-vacation-boats-lunch.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: 'supermarketregular';
    margin-top: 70px;
    height: 190px;    
}
#search_page text-center
{
    text-align: center;
}
#search_page h1
{
    font-size: 65pt;
    margin-top: 35px;
}
#search_page h2
{
    padding-bottom: 10px;
}
#search_page h3
{
    margin-bottom: 10px;
}
#search_page p
{
    margin-top: 0px;
}
#search_page address
{
    padding-top: 20px;
}
#search_page address .fa
{
    background: #28a7e9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 6px;
    margin-right: 10px;
}
#search_page .contact-form
{
    padding-top: 40px;
}
#search_page .form-control
{
    font-family: 'supermarketregular';
}
#search_page input
{
    font-family: 'supermarketregular';
}
#search_page select
{
}
#search_page input[type="submit"]
{
    background: #28a7e9;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}
#search_page input[type="submit"]:hover {
    background: #107DB6;
}
#search_page .overlay 
{
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}  
#search_page .container
{
    padding-bottom: 50px;
} 
/* end search_page */


/* start search_page_body */
#search_page_body
{
    font-family: 'supermarketregular';
}
#search_page_body .outcontainner
{
    margin: 5px 50px 5px 50px;
    padding: 10px 15px 5px 15px;
}
#search_page_body p
{
    margin-bottom: 10px;
}
#search_page_body .form-control
{
    border-color: #ccc;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'supermarketregular';
    margin-bottom: 10px;
}
#search_page_body input[type="checkbox"]
{
    font-family: 'supermarketregular';
    margin: 10px 0 5px 0;
}
#search_page_body select
{
    height: 50px;
}
#search_page_body .ingroup
{
    height: 50px;
}
#search_page_body input[type="submit"]
{
    background: #28a7e9;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}
#search_page_body input[type="submit"]:hover {
    background: #107DB6;
}
/* end search_page_body */
        
#search_page_body .card{
    font-family: 'supermarketregular';
    margin-top: 10px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#search_page_body .card .card-content {
    padding: 10px;
}
#search_page_body .card .card-content .page-header {
    font-size: 30px;
    margin-top: 10px;
}
#search_page_body .thumbnail{
   // border-bottom-color: #FF5F00;
}
#searchcri{
    margin-top:25px;
}

#searchcri .row{
    padding-top:10px;
}


#searchcri .searchtitle{
    text-align: right;
    padding-right:10px;
    font-size:20px;
    line-height: 35px;
}

 .searchTitle__content {
                width: 100%;
                background-color: #fff;
                border-bottom: solid 1px #f2f2f2;
                display: table;
                table-layout: fixed;
                padding-top: 29px;
            }
            .fav-icon {
                color: #FF0045 !important;
            }
            .unfav{
                color: gray;
            }
            .faved{
                color: red;
            }
            .page_up {
                position: fixed;
                right: 30px;
                bottom: 50px;
                z-index: 500;
            }
            .hrs {
                border-top-width: 2px;
                border-color: #FF5F00;
                margin-top: 0px;
                margin-bottom: 20px;
            }
    