@import url("../Supermarket/stylesheet.css");

/*
Boxer Template
http://www.templatemo.com/preview/templatemo_446_boxer
*/

body
{
    background: #fff;
    font-family: 'supermarketregular';
    font-weight: 300;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.slider-l {
    width: 140px;
    left: 3px;
    position: fixed;
    top: 80px;
    z-index: 3000;
}
.spacing {
    padding-bottom:7px;
}
.spacing-height {
    height: 20px;
}
.middlePage {
    width: 550px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 0 0 -397px;
}
.middlePage1 {
    width: 350px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 0 0 -190px;
}
.tm-white a {
    color: #fff;
}

/* start h1 group */
h1 { 
    margin:0;
    font-family:'supermarketregular';
}
h1,
h2,
h3,
h4,
h5
{
    font-weight: bold;
    font-family: 'supermarketregular';
}
/* end h1 group */
p { line-height: 1.6em; 
    font-family: 'supermarketregular';
}

span{
    font-family: 'supermarketregular';
}	
/* img */
img
{
    max-width: 100%;
    height: auto;
}
/* img */

/* overlay */
.overlay 
{
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, 0.4);
}  
/* over lay */

/* start preloader */
.loader {
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    color: rgba(255,95,0,1);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    /*justify-content: center;*/
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em #FF9900, 2em -2em 0 0em #FF9900, 3em 0 0 -1em #FF9900, 2em 2em 0 -1em #FF9900, 0 3em 0 -1em #FF9900, -2em 2em 0 -1em #FF9900, -3em 0 0 -1em #FF9900, -2em -2em 0 0 #FF9900;
    }
    12.5% {
        box-shadow: 0 -3em 0 0 #FF9900, 2em -2em 0 0.2em #FF9900, 3em 0 0 0 #FF9900, 2em 2em 0 -1em #FF9900, 0 3em 0 -1em #FF9900, -2em 2em 0 -1em #FF9900, -3em 0 0 -1em #FF9900, -2em -2em 0 -1em #FF9900;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em #FF9900, 2em -2em 0 0 #FF9900, 3em 0 0 0.2em #FF9900, 2em 2em 0 0 #FF9900, 0 3em 0 -1em #FF9900, -2em 2em 0 -1em #FF9900, -3em 0 0 -1em #FF9900, -2em -2em 0 -1em #FF9900;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em #FF9900, 2em -2em 0 -1em #FF9900, 3em 0em 0 0 #FF9900, 2em 2em 0 0.2em #FF9900, 0 3em 0 0em #FF9900, -2em 2em 0 -1em #FF9900, -3em 0em 0 -1em #FF9900, -2em -2em 0 -1em #FF9900;
    }
    50% {
        box-shadow: 0 -3em 0 -1em #FF9900, 2em -2em 0 -1em #FF9900, 3em 0 0 -1em #FF9900, 2em 2em 0 0em #FF9900, 0 3em 0 0.2em #FF9900, -2em 2em 0 0 #FF9900, -3em 0em 0 -1em #FF9900, -2em -2em 0 -1em #FF9900;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em #FF9900, 2em -2em 0 -1em #FF9900, 3em 0 0 -1em #FF9900, 2em 2em 0 -1em #FF9900, 0 3em 0 0 #FF9900, -2em 2em 0 0.2em #FF9900, -3em 0 0 0 #FF9900, -2em -2em 0 -1em #FF9900;
    }
    75% {
        box-shadow: 0em -3em 0 -1em #FF9900, 2em -2em 0 -1em #FF9900, 3em 0em 0 -1em #FF9900, 2em 2em 0 -1em #FF9900, 0 3em 0 -1em #FF9900, -2em 2em 0 0 #FF9900, -3em 0em 0 0.2em #FF9900, -2em -2em 0 0 #FF9900;
    }
    87.5% {
        box-shadow: 0em -3em 0 0 #FF9900, 2em -2em 0 -1em #FF9900, 3em 0 0 -1em #FF9900, 2em 2em 0 -1em #FF9900, 0 3em 0 -1em #FF9900, -2em 2em 0 0 #FF9900, -3em 0em 0 0 #FF9900, -2em -2em 0 0.2em #FF9900;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em #FF9900, 2em -2em 0 0em #FF9900, 3em 0 0 -1em #FF9900, 2em 2em 0 -1em #FF9900, 0 3em 0 -1em #FF9900, -2em 2em 0 -1em #FF9900, -3em 0 0 -1em #FF9900, -2em -2em 0 0 #FF9900;
    }
    12.5% {
        box-shadow: 0 -3em 0 0 #FF9900, 2em -2em 0 0.2em #FF9900, 3em 0 0 0 #FF9900, 2em 2em 0 -1em #FF9900, 0 3em 0 -1em #FF9900, -2em 2em 0 -1em #FF9900, -3em 0 0 -1em #FF9900, -2em -2em 0 -1em #FF9900;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em #FF9900, 2em -2em 0 0 #FF9900, 3em 0 0 0.2em #FF9900, 2em 2em 0 0 #FF9900, 0 3em 0 -1em #FF9900, -2em 2em 0 -1em #FF9900, -3em 0 0 -1em #FF9900, -2em -2em 0 -1em #FF9900;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em #FF9900, 2em -2em 0 -1em #FF9900, 3em 0em 0 0 #FF9900, 2em 2em 0 0.2em #FF9900, 0 3em 0 0em #FF9900, -2em 2em 0 -1em #FF9900, -3em 0em 0 -1em #FF9900, -2em -2em 0 -1em #FF9900;
    }
    50% {
        box-shadow: 0 -3em 0 -1em #FF9900, 2em -2em 0 -1em #FF9900, 3em 0 0 -1em #FF9900, 2em 2em 0 0em #FF9900, 0 3em 0 0.2em #FF9900, -2em 2em 0 0 #FF9900, -3em 0em 0 -1em #FF9900, -2em -2em 0 -1em #FF9900;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em #FF9900, 2em -2em 0 -1em #FF9900, 3em 0 0 -1em #FF9900, 2em 2em 0 -1em #FF9900, 0 3em 0 0 #FF9900, -2em 2em 0 0.2em #FF9900, -3em 0 0 0 #FF9900, -2em -2em 0 -1em #FF9900;
    }
    75% {
        box-shadow: 0em -3em 0 -1em #FF9900, 2em -2em 0 -1em #FF9900, 3em 0em 0 -1em #FF9900, 2em 2em 0 -1em #FF9900, 0 3em 0 -1em #FF9900, -2em 2em 0 0 #FF9900, -3em 0em 0 0.2em #FF9900, -2em -2em 0 0 #FF9900;
    }
    87.5% {
        box-shadow: 0em -3em 0 0 #FF9900, 2em -2em 0 -1em #FF9900, 3em 0 0 -1em #FF9900, 2em 2em 0 -1em #FF9900, 0 3em 0 -1em #FF9900, -2em 2em 0 0 #FF9900, -3em 0em 0 0 #FF9900, -2em -2em 0 0.2em #FF9900;
    }
}

.preloader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    /*justify-content: center;*/
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

/* end preloader */

/* start navigation */
.navbar-default
{
    background: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0!important;
}
.navbar-default .navbar-brand
{
    color: #FF5F00;
    font-size: 30px;
    font-weight: bold;
    height: 70px;
    line-height: 35px;
}
.navbar-default .nav li a
{
    color: #666;
    font-size: 18px;
    font-weight: normal;
    height: 70px;
    line-height: 40px;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current
{
    color:rgba(255,127,0,1);
}

.navbar-default .navbar-toggle
{
    border: none;
    padding-top: 20px;
}
.navbar-default .navbar-toggle .icon-bar
{
    background: #28a7e9;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start home */       
#home
{
    /*background: url('../images/home-bg.jpg') no-repeat;*/
    background-size: cover;
    color: #fff;
    margin-top: 55px;
    text-align: center;
    width: 100%;
}
#home p
{
    font-weight: 400;
    line-height: 2em;
}
#home img
{
    display: inline-block;
    margin-top: 30px;
}
/* end home */

/* start nearby */
#nearby
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}
#nearby .fa
{
    color: #28a7e9;
    font-size: 60px;
}
#nearby h3
{
    font-size: 20px;
}
/* end nearby */

/* start news update head */       
#nupdateh
{
    width: 100%;
    background-size: cover;
    color: #fff;
    text-align: center;
}
#nupdateh p
{
    font-weight: 400;
    line-height: 2em;
}
#nupdateh img
{
    display: inline-block;
}
/* end news update head */

/* start step */
#step
{
    background: #f8f8f8;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
#step p
{
    padding-top: 10px;
}
#step span
{
    float: left;
}
#step .fa
{
    color: #28a7e9;
    font-size: 60px;
}
#step h3
{
    font-size: 20px;
}	
/* end step */

/* start feature */
#feature
{
    background: #f8f8f8;
    padding-top: 80px;
    padding-bottom: 80px;
}
#feature p
{
    padding-top: 10px;
}
#feature span
{
    float: left;
}
#feature .fa
{
    background: #28a7e9;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
}
/* end feature */

/* start feature1 */
#feature1
{
    background: #f8f8f8;
    padding-top: 60px;
    padding-bottom: 60px;
}
#feature1 p
{
    padding-top: 10px;
}
#feature1 span
{
    float: left;
}
#feature1 .fa
{
    background: #28a7e9;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
}
/* end feature1 */

/* start pricing */
#pricing
{
    background: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

/* COMMON PRICING STYLES */
		#pricing  .panel.price,
		#pricing  .panel.price>.panel-heading{
			border-radius:0px;
			 -moz-transition: all .3s ease;
			-o-transition:  all .3s ease;
			-webkit-transition:  all .3s ease;
		}
		#pricing  .panel.price:hover{
			box-shadow: 0px 0px 30px rgba(0,0,0, .2);
		}
		#pricing .panel.price:hover>.panel-heading{
			box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
		}
		
				
		#pricing .panel.price>.panel-heading{
			box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
			text-shadow:0px 3px 0px rgba(50,50,50, .6);
		}
			
		#pricing .price .list-group-item{
			border-bottom-:1px solid rgba(250,250,250, .5);
		}
		
		#pricing .panel.price .list-group-item:last-child {
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		#pricing .panel.price .list-group-item:first-child {
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
		}
		
		#pricing .price .panel-footer {
			color: #fff;
			border-bottom:0px;
			background-color:  rgba(0,0,0, .1);
			box-shadow: 0px 3px 0px rgba(0,0,0, .3);
		}
		
		
		#pricing .panel.price .btn{
			box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
			border:0px;
		}
		
	/* green panel */
	
		
		.price.panel-green>.panel-heading {
			color: #fff;
			background-color: #57AC57;
			border-color: #71DF71;
			border-bottom: 1px solid #71DF71;
		}
		
			
		.price.panel-green>.panel-body {
			color: #fff;
			background-color: #65C965;
		}
				
		
		.price.panel-green>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-green .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* blue panel */
	
		
		.price.panel-blue>.panel-heading {
			color: #fff;
			background-color: #608BB4;
			border-color: #78AEE1;
			border-bottom: 1px solid #78AEE1;
		}
		
			
		.price.panel-blue>.panel-body {
			color: #fff;
			background-color: #73A3D4;
		}
				
		
		.price.panel-blue>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-blue .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* red price */
		
	
		.price.panel-red>.panel-heading {
			color: #fff;
			background-color: #D04E50;
			border-color: #FF6062;
			border-bottom: 1px solid #FF6062;
		}
		
			
		.price.panel-red>.panel-body {
			color: #fff;
			background-color: #EF5A5C;
		}
		
		
		
		
		.price.panel-red>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-red .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* grey price */
		
	
		.price.panel-grey>.panel-heading {
			color: #fff;
			background-color: #6D6D6D;
			border-color: #B7B7B7;
			border-bottom: 1px solid #B7B7B7;
		}
		
			
		.price.panel-grey>.panel-body {
			color: #fff;
			background-color: #808080;
		}
		

		
		.price.panel-grey>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-grey .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
/* end pricing */

/* start profile*/
#profile
{
    font-family:'supermarketregular';
    padding-top: 70px;
    margin-bottom: 30px;
}
#profile h2
{
    text-align:center;
    font-size:85px;
    font-family:'supermarketregular';
    padding-bottom: 20px;
}
#profile p
{
    text-align:justify;
    font-size:17px;
    padding-left: 10px;
}
#profile .btn
{
    border-radius: 0px;
    font-weight: bold;
}
#profile .imgsize
{
    width:70px; 
    height:70px;
}
.elt
{
    color:rgba(255,159,0,1);
    text-align:center;
    margin:10px 0 20px 0;
    font-weight:normal;
    font-size:17px;
    font-family:supermarketregular;
}
.lzero
{
    padding-left:0;
}
.profilecontainer
{

}

/* end profile */

/* start contact */
#contact
{
    background: url('../images/contact-bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
}
#contact h2
{
    padding-bottom: 10px;
}
#contact address
{
    padding-top: 20px;
}
#contact address .fa
{
    background: #28a7e9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 6px;
    margin-right: 10px;
}
#contact .contact-form
{
    padding-top: 40px;
}
#contact .form-control
{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 20px;
}
#contact input
{
    height: 50px;
}
#contact input[type="submit"]
{
    background: #28a7e9;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}
#contact input[type="submit"]:hover {
    background: #107DB6;
}
/* end contact */

/* start footer */
footer
{
    font-family:'supermarketregular';
    background: #FF5F00;
    color:rgba(255,255,255,1);
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    margin-top:0px;
}
/* end footer */

@media screen and ( max-width: 991px ) {
    .templatemo-box {
        margin-bottom: 30px;
    }
    #pricing .active {
        bottom: 0;
    }
    .pricing {
        margin-bottom: 20px;
    }
    #feature img, #download img {
        margin-top: 30px;
    }
    #feature1 img {
        margin-bottom: 30px;
    }
}
@media screen and ( max-width: 767px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }
    #feature, #pricing, #download {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #contact .overlay {
        padding-top: 40px;
    }
}
/* start media 360 */
@media screen and ( max-width: 360px ){
    .pricing
    {
        padding-bottom: 40px;
    }
}
/* end media 360 */


/*new*/
.login{
    width: 100%;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}
/* start login & register */
#loreg
{
    background: url('../images/loreg-bg.jpg') no-repeat;
    background-size: cover;
    color: rgba(255,255,255,1);
}
#loreg h2
{
    padding-bottom: 10px;
}
#loreg address
{
    padding-top: 20px;
}
#loreg address .fa
{
    background: #28a7e9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 6px;
    margin-right: 10px;
}
#loreg .contact-form
{
    padding-top: 40px;
}
#loreg .form-control
{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 20px;
}
#loreg input
{
    height: 45px;
}
#loreg input[type="submit"]
{
    background: #28a7e9;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}
#loreg input[type="submit"]:hover {
    background: #107DB6;
}
/* login & register */




#loreg .contact-formmessenger
{
    padding-top: 30px;
    padding-bottom: 40px;
}